div#contact-footer {
	border-top: 1px solid #C4CFE5;
	font-size: 8pt;
	line-height: normal;
	margin-top: 40px;
	padding-top: 20px;
	text-align: center
}

div#project-logos-wrapper {
	margin-top: 20px;
	text-align: center
}

div#project-logos-wrapper div {
	display: inline-block;
	white-space: nowrap
}

div#project-logos-wrapper div img {
	height: 75px;
	padding: 10px;
	vertical-align: middle
}

div.image img[src="image/MMMViewer.png"]{ 
	width:600px;
}

div.image img[src="image/MMM_overview.png"]{
	width:500px;
}

div.image img[src="missingreference.png"]{
	width:600px;
        text-align: left;
}
